@charset "UTF-8";
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -ms-flexbox;
}

@mixin flexChild($num:1) {
    -webkit-box-flex: num;
    box-flex: num;
    -webkit-flex: num;
    flex: num;
}
/*
*** 简单的flexbox兼容模式 ***
*** Use ***
.container {
  @include flexbox();
}
.container .child() {
	@include flexChild();
}
*** Output ***
.container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
}
.container .child() {
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
*/
